127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for node in atomix %}
{{ node.address }} {{ node.hostname }}
{% endfor %}

{% for node in onos %}
{{ node.address }} {{ node.hostname }}
{% endfor %}